.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.ContactData form input {
    display: block;
    margin: auto
}
@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
